/NG100/IviDcPwr/bin/
/NG100/IviDcPwr/obj/
/NG100/NG100Lib/bin/
/NG100/NG100Lib/obj/
/NG100/NG100VCP/bin/
/NG100/NG100VCP/obj/
/NUnitSampleApp/bin/
/NUnitSampleApp/obj/
/N6972A/bin/
/N6972A/obj/
/TestStandOPI/bin/
/TestStandOPI/obj/
/packages/
*.xml
.vs/
*.suo
.vs/Konvolucio.MCAN120803_VS2015/v14/.suo
